TARGET_BASE_URL=http://10.21.21.10:9023
TARGET_EMAIL=
TARGET_PASSWORD=
WEB_NOTA_API_URL=http://localhost:3000
RUNNER_TOKEN=kmp_runner_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BELANJA_DRY_RUN=true
BELANJA_RUNNER_HEADED=true
BELANJA_FIELD_MAP_VERIFIED=false
BELANJA_RUNNER_POLL_MS=5000
