TARGET_BASE_URL=http://10.21.21.10:9023
TARGET_EMAIL=
TARGET_PASSWORD=
NOTA_KMP_BASE_URL=http://localhost:3000
BELANJA_RUNNER_TOKEN=
BELANJA_DRY_RUN=true
BELANJA_RUNNER_HEADED=true
BELANJA_FIELD_MAP_VERIFIED=false
BELANJA_RUNNER_POLL_MS=5000
